/* src/index.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('images/index2-lanczos3.jpg');
  margin: 0;
}

.container {
  text-align: center;
}

.container button {
  margin: 0 100px;
}

.container > div {
  margin: 50px 50px;
  align-items: center;
}
